.devspace
.DS_Store
__pycache__
.ruff_cache
.idea
# ignore potentially sensitive credentials files
/alchemy/conf/**/*credentials*
# ignore everything in the following folders
/alchemy/data/**
!/alchemy/data/10_dictionary/dictionary.csv
!/alchemy/data/11_reference/user_inputs.xlsx
/alchemy/logs/**
/alchemy/notebooks/**
/alchemy/conf/local/globals.yml
!.gitkeep
*.csv
*.ipynb
*.parquet
*.log
*.pyc
*.pdf
*.html
# ignore all local configuration
/alchemy/conf/local/**
!/alchemy/conf/local/.gitkeep
.telemetry
.env
.envrc
.venv
.ipynb_checkpoints
=3.0,
deployment.yaml
devspace.yaml
